nav {
  ul {
    li {
      margin-left: 15px;
    }
  }

  .nav-wrapper {
    .banka-logo {
      text-align: left;
      font-size: 35px;
    }
  }

  .logout-btn {
    cursor: pointer;
  }
}

.avg-img {
  margin-top: 7px;
}