nav {
  .nav-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;

    .banka-logo {
      text-align: left;
      font-size: 35px;
    }

    .nav-ul {
      display: flex;
      li {
        margin-left: 15px;
      }
    }

    .mob-ul {
      position: absolute;
      top: 55px;
      background-color: teal;
      width: 100% !important;
      display: none;
      
      li {
        width: 100% !important;
        margin: 0 !important;
      }

      .logout-btn {
        padding-left: 15px;
      }
    }

  }

  .logout-btn {
    cursor: pointer;
  }
}

.avg-img {
  margin-top: 7px;
}

@media screen and (max-width: 602px) {
  nav {
    .nav-wrapper {
      width: 100%;
      margin: 0;

      .banka-logo {
        padding-left: 15px;
      }

      .ham {
        padding-right: 15px;
      }

      .material-icons {
        cursor: pointer;
      }
    }
  }
}