.account-modal,
.staff-modal {
  width: 350px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 15%);
	background: #F2F2F2;
	text-align: center;
  border-radius: 2px;
  z-index: 300;
  display: block;

  h2 {
    font-size: 29px;
  }

  button {
    margin-bottom: 30px;
  }

  select {
    display: block;
    width: 80%;
    margin: 20px auto;
  }

  .flex-btns {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;

    button {
      width: 90px;
      color: white;
    }
  }
}

.staff-modal {
  font-family: 'Poppins', sans-serif;
  transform: translate(-50%, 50%);
}