.signup {
  padding-top: 50px;
  max-width: 400px;

  h2 {
    font-size: 32px;
  }

  .card {
    padding: 5px 20px;
  }

  .field {
    margin-bottom: 10px;
  }

  .errors {
    list-style-type: none;

    li {
      font-size: 14px;
    }
  }
}

.flex {
  img {
    width: 20px;
    height: 20px;
    margin-top: 17px;
  }

  p {
    font-weight: bold;
    margin-left: 15px;
  }

  display: flex;
  padding: 0 10px;
  width: 240px;
  padding-left: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.big-container {
  position: relative;
}

.social-auth {
  position: absolute;
  top: 150px;
  left: 150px;
}