.my-backdrop {
  position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
  background-color:rgba(0,0,0,.5);
  opacity: 1;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  z-index: 200;
}

.spinner-backdrop {
  position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
  background-color:rgba(0,0,0,.5);
  opacity: 1;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  z-index: 400;
}

.spinner-modal {
  width: 150px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -20%);
	background: #F2F2F2;
	height: 150px;
	text-align: center;
  border-radius: 2px;
  z-index: -1;
  display: block;
  padding-top: 35px;
}
